extends layout

mixin card(body, update, author)
  .card
    .card-body
      p.card-text= body
    .card-footer.d-flex
      p.small Posted by 
        a(href="#")= author 
        |  on 
        time(date="#{updated}")= update 

block head
  -var title = "Test"
  title Webbserverprogrammering - #{title}

block content
  main
    .container
      h1= title
      each row in result
        p #{row.body}
        | Posted at #{row.updated_at}
        | Posted at #{row.name}
        //- +card(row.body, row.updated_at, row.name)
