extends layout

block head
  -var title = "Användare"
  title Webbserverprogrammering - #{title}

block nav
  include components/nav.pug

block content
  main.pt-3
    .container
      h1.page-heading= title
      if users
        p.lead Här är ett exempel på iteration med pug 
        ul.list.pt-1
          each user in users
            li= user

      if user
        p= user.name
        h3 Användarens meeps
        if tweets
          ul.list
            each tweet in tweets
              li= tweet.body

block footer
  include components/footer.pug